{% extends 'base.html' %}
{% block base_body %}
<section class="bg-[#030712] text-white font-sans min-h-screen">

  <!-- Header -->
  <header class="flex justify-between px-4 sm:px-8 py-3 items-center bg-[#0D1320]">
    <a href="/dashboard">
        <img src="/static/images/white_logo.png" alt="Logo" class="h-8 sm:h-9 w-auto">
    </a>

    <div class="flex items-center gap-2">
      <button id="sidebarToggle" class="sm:hidden p-2">
        <i data-feather="menu" class="w-6 h-6"></i>
      </button>

      <div class="hidden sm:flex items-center gap-2 ml-2 pl-2">
        <div class="bg-gray-500 w-9 h-9 flex items-center justify-center rounded-full text-sm">{{user.full_name[0]}}</div>
        <span class="text-sm sm:text-base">{{user.full_name}}</span>
      </div>
    </div>
  </header>

  <!-- Sidebar + Main -->
  <div class="flex flex-col sm:flex-row px-4 sm:px-8 md:my-5">
    <!-- Sidebar -->
    <aside id="sidebar"
           class="fixed sm:static top-0 left-0 h-full sm:h-auto w-64 bg-[#0D1320] p-6 sm:rounded-xl sm:translate-x-0 -translate-x-full transition-transform duration-300 z-40">
      <nav class="space-y-4 text-gray-300">
        <a href="/dashboard"
            class="flex items-center gap-3 p-2 rounded-lg 
                    {% if request.path == '/dashboard' %} bg-[#1F2937] {% else %} hover:bg-[#1F2937] {% endif %}">
            <i data-feather="grid" class="w-5 h-5"></i> Dashboard
        </a>

        <a href="/transaction"
            class="flex items-center gap-3 p-2 rounded-lg 
                    {% if request.path.startswith('/transaction') %} bg-[#1F2937] {% else %} hover:bg-[#1F2937] {% endif %}">
            <i data-feather="list" class="w-5 h-5"></i> Transactions
        </a>

        <a href="#" onclick="openLockedModal()" 
        class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#1F2937]">
        <i data-feather="cpu" class="w-5 h-5"></i> AI Assistant
        </a>

        <a href="#" onclick="openLockedModal()" 
        class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#1F2937]">
        <i data-feather="pie-chart" class="w-5 h-5"></i> Reports
        </a>

        <a href="#" onclick="openLockedModal()" 
        class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#1F2937]">
        <i data-feather="tag" class="w-5 h-5"></i> Categories
        </a>

        <a href="#" onclick="openLockedModal()" 
        class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#1F2937]">
        <i data-feather="settings" class="w-5 h-5"></i> Settings
        </a>

        <form action="{{ url_for('auth.logout' ) }}" method="post">
            <button id="logoutBtn" class="flex items-center gap-3 p-2 rounded-lg hover:bg-[#1F2937] text-red-500">
                <i data-feather="log-out" class="w-5 h-5"></i> Sign Out
            </button>
        </form>
        </nav>

    </aside>

    {% block home_content %}
        
    {% endblock %}
  </div>
</section>
{% endblock %}